   body {
            background : url("{% static 'pizza/Pizza2.jpeg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }