<!DOCTYPE html>
<html lang="fr" data-theme="synthwave">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Liste des pizzas</title>
     <style>
        {% load static %}
           body {
            background : url("{% static 'pizza/images/Pizza2.jpeg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: scroll;
        }
     </style>
</head>
<body class="h-screen w-screen">
    <main class="flex flex-col gap-4 bg-black/60 w-full h-full">
        <div class="mb-4">
            <a href="{% url 'ajouter_pizza' %}" class="btn btn-primary w-full mt-12 mx-auto">Ajouter un pizza</a>
        </div>
      <div class="grid grid-cols-3 gap-8 items-center mx-auto my-auto">
        {% for pizza in pizzas %}
          <div class="w-full">
            <div class="card card-border bg-base-100 w-96">
                <div class="card-body">
                    <h2 class="card-title">{{pizza.nom}}  <span>{{pizza.prix}}€</span></h2>
                    <p>{{pizza.ingredients}}</p>
                    {% if pizza.vegetarienne %}
                    <p class="badge badge-soft badge-primary">VEGETARIENNE</p>
                    {% endif %}
                </div>
                <div class="space-x-2 my-4 mx-auto">
                <a href="{% url 'modifier_pizza' pizza.id %}" class="btn btn-primary  btn-sm">Modifier</a>
                <a href="{% url 'supprimer_pizza' pizza.id %}" class="btn btn-primary btn-error btn-soft btn-sm">Supprimer</a>
            </div>
            </div>
            
          </div>
        
        {% endfor %}
      </div>
    </main>
</body>
</html>
